/* ROOT */
.root {
    -fx-font-family: "Segoe UI";
}

.left-pane {
    -fx-background-color: #27b397; /* ista boja kao dugme */
    -fx-padding: 60 40 60 40;
}

.app-title {
    -fx-font-size: 28px;
    -fx-font-weight: 800;
    -fx-text-fill: rgba(255,255,255,0.95);
    -fx-letter-spacing: 1px;
}

.left-subtitle {
    -fx-font-size: 16px;
    -fx-font-weight: 600;
    -fx-text-fill: rgba(255,255,255,0.85);
    -fx-wrap-text: true;
    -fx-max-width: 260px;
    -fx-padding: 10 0 0 0;
}

.left-text {
    -fx-font-size: 13px;
    -fx-font-weight: 400;
    -fx-text-fill: rgba(255,255,255,0.70);
    -fx-wrap-text: true;
    -fx-max-width: 260px;
    -fx-line-spacing: 3px;
}


/* RIGHT */
.right-pane {
    -fx-background-color: #f7fbff;
}

/* DECOR CIRCLE */
.circle-decor {
    -fx-background-radius: 999px;
    -fx-pref-width: 720px;
    -fx-pref-height: 720px;
    -fx-background-color: rgba(34,179,154,0.10);
    -fx-translate-x: 220px;
}

/* LOGIN CONTAINER */
.login-container {
    -fx-padding: 70 40 40 40;
}

/* TITLE */
.login-title {
    -fx-text-fill:#22b39a;
    -fx-font-size: 30px;
    -fx-font-weight: 800;

}

/* FORM */
.field-label {
    -fx-font-size: 12px;
    -fx-text-fill: #334155;
    -fx-font-weight: 600;
}

.text-input {
    -fx-background-color: white;
    -fx-background-radius: 18px;
    -fx-border-radius: 18px;
    -fx-border-color: rgba(34,179,154,0.25);
    -fx-padding: 12 16 12 16;
    -fx-font-size: 13px;
}

.text-input:focused {
    -fx-border-color: #22b39a;
    -fx-border-width: 1.5px;
}

/* LINKS */
.forgot-link {
    -fx-text-fill: #22b39a;
    -fx-font-size: 12px;
}

.register-link {
    -fx-text-fill: #22b39a;
    -fx-font-weight: 700;
}

/* BUTTON */
.primary-btn {
    -fx-background-color: #22b39a;
    -fx-text-fill: white;
    -fx-font-weight: 700;
    -fx-font-size: 14px;
    -fx-background-radius: 24px;
    -fx-padding: 12 20 12 20;
}

.primary-btn:hover {
    -fx-background-color: #1da38d;
}

.primary-btn:pressed {
    -fx-background-color: #188c79;
}

/* ERROR */
.error-label {
    -fx-font-size: 12px;
}
