/* ROOT */
.root {
    -fx-font-family: "Segoe UI";
}

.left-pane {
    -fx-background-color: #27b397; /* ista boja kao dugme */
    -fx-padding: 60 40 60 40;
}

.app-title {
    -fx-font-size: 28px;
    -fx-font-weight: 800;
    -fx-text-fill: rgba(255,255,255,0.95);
    -fx-letter-spacing: 1px;
}

.left-subtitle {
    -fx-font-size: 16px;
    -fx-font-weight: 600;
    -fx-text-fill: rgba(255,255,255,0.85);
    -fx-wrap-text: true;
    -fx-max-width: 260px;
    -fx-padding: 10 0 0 0;
}

.left-text {
    -fx-font-size: 13px;
    -fx-font-weight: 400;
    -fx-text-fill: rgba(255,255,255,0.70);
    -fx-wrap-text: true;
    -fx-max-width: 260px;
    -fx-line-spacing: 3px;
}


/* RIGHT */
.right-pane {
    -fx-background-color: #f7fbff;
}

/* DECOR CIRCLE */
.circle-decor {
    -fx-background-radius: 999px;
    -fx-pref-width: 720px;
    -fx-pref-height: 720px;
    -fx-background-color: rgba(34,179,154,0.10);
    -fx-translate-x: 220px;
}

/* LOGIN CONTAINER */
.login-container {
    -fx-padding: 70 40 40 40;
}

/* TITLE */
.login-title {
    -fx-text-fill:#22b39a;
    -fx-font-size: 30px;
    -fx-font-weight: 800;

}

/* FORM */
.field-label {
    -fx-font-size: 12px;
    -fx-text-fill: #334155;
    -fx-font-weight: 600;
}

.text-input {
    -fx-background-color: white;
    -fx-background-radius: 18px;
    -fx-border-radius: 18px;
    -fx-border-color: rgba(34,179,154,0.25);
    -fx-padding: 12 16 12 16;
    -fx-font-size: 13px;
}

.text-input:focused {
    -fx-border-color: #22b39a;
    -fx-border-width: 1.5px;
}

/* LINKS */
.forgot-link {
    -fx-text-fill: #22b39a;
    -fx-font-size: 12px;
}

.register-link {
    -fx-text-fill: #22b39a;
    -fx-font-weight: 700;
}

/* BUTTON */
.primary-btn {
    -fx-background-radius: 40px;
    -fx-background-color: linear-gradient(
        to bottom,
        #2ec9ad,
        #22b39a
    );
    -fx-text-fill: white;
    -fx-font-weight: 800;
    -fx-font-size: 15px;

    -fx-padding: 14 32 14 32;

    /* shadow = jelly osjećaj */
    -fx-effect: dropshadow(
        gaussian,
        rgba(34,179,154,0.45),
        18,
        0.25,
        0,
        8
    );
}

/* hover = blago “nabubri” */
.primary-btn:hover {
    -fx-scale-x: 1.04;
    -fx-scale-y: 1.04;
    -fx-background-color: linear-gradient(
        to bottom,
        #3ddbc0,
        #1da38d
    );
}

/* pressed = jelly squash */
.primary-btn:pressed {
    -fx-scale-x: 0.97;
    -fx-scale-y: 0.95;
    -fx-background-color: #1a8f7c;
    -fx-effect: dropshadow(
        gaussian,
        rgba(34,179,154,0.25),
        10,
        0.2,
        0,
        4
    );
}

/* ERROR */
.error-label {
    -fx-font-size: 12px;
}
